._btn {
    padding: 8px 24px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #1A1F16;
    border-radius: 14px;
}

._btn-small {
    background: #1A1F16;
    padding: 8px 24px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border-radius: 14px;
}

.outline_btn {
    color: #1A1F16;
    width: 45px;
    height: 19px;
    border-radius: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    border-radius: 14px;
}